
        .footer img {
    width: 400px;
    height: auto;
    }

  #create-account-form {
    margin-left: 23%;
    }

  footer {
    margin-left: 120px;
    padding: 20px;
    padding-left: 120px;

  }

